<form nz-form [formGroup]="userForm">
    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">{{'姓名' }}</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="请输入学生姓名">
                    <input formControlName="title" nz-input minlength="3" maxlength="20" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">{{'班级编号' }}</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="请输入班级编号">
                    <input formControlName="number" nz-input minlength="6" maxlength="20" type="number"/>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">{{'性别' }}</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="请输入学生姓名">
                    <!-- 性别下拉框 -->
                    <nz-select formControlName="sex" nzPlaceHolder="请选择性别">
                        <nz-option nzLabel="男" nzValue="男"></nz-option>
                        <nz-option nzLabel="女" nzValue="女"></nz-option>
                      </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">{{'家长联系方式' }}</nz-form-label>
                <nz-form-control [nzSpan]="16">
                    <textarea  formControlName="desc" nz-input type="textarea" placeholder="{{'电话/邮箱/微信号等' }}"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">{{'家庭住址' }}</nz-form-label>
                <nz-form-control [nzSpan]="16">
                    <textarea  formControlName="desc" nz-input type="textarea" placeholder="{{'家庭住址' }}"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">{{'班主任姓名'}}</nz-form-label>
                <nz-form-control [nzSpan]="16">
                    <textarea  formControlName="teacher" nz-input type="textarea" placeholder="{{'班主任姓名' }}"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">{{'日期' }}</nz-form-label>
                <nz-form-control [nzSpan]="16">
                    <input formControlName="end_time" nz-input maxlength="20" type="date"/>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>
<div class="footer">
    <button nz-button nzType="primary" (click)="submitUser()">{{'提交' }}</button>
</div>
