<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="insertTask">
    <table cellspacing=0 cellpadding=0 width=760 align=center border=0>
    <tr bgcolor=#ffffff>
        <td align=center bgcolor=#d2eaff height=30>
            <div align=right>学校名称：</div>
        </td>
        <td bgcolor=#eef7ff><input id=company maxlength=40
                                   size=40 name=title> </td>
    </tr>
    <tr bgcolor=#ffffff>
        <td align=center bgcolor=#d2eaff height=30>
            <div align=right>学校描述：</div>
        </td>
        <td bgcolor=#eef7ff><input id=company maxlength=40
                                   size=40 name=desc> </td>
    </tr>
    <tr bgcolor=#ffffff>
        <td align=center bgcolor=#d2eaff height=30>
            <div align=right>分数线：</div>
        </td>
        <td bgcolor=#eef7ff><input type="number" id=company maxlength=40
                                   size=40 name=content> </td>
    </tr>
        <tr bgcolor=#ffffff>
        <td align=center bgcolor=#d2eaff height=30>
            <div align=right>时间：</div>
        </td>
        <td bgcolor=#eef7ff><input id=company type="date" maxlength=40
                                   size=40 name=end_time> </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input id=Submitx type=submit value="添加" name=Submitx>
            <input id=ReSetX type=reset value="重置" name=ReSetX></td>
    </tr>
</table>
</form>
</body>
</html>