<form nz-form [nzLayout]="'inline'" class="margin-bottom">
    <nz-form-item>
        <nz-form-label>{{'发布者' | translate}}</nz-form-label>
        <nz-form-control>
            <input name="name" [(ngModel)]="name" nz-input type="text" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>{{'搜索内容' }}</nz-form-label>
        <nz-form-control>
            <input name="desc" [(ngModel)]="desc" nz-input type="text" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control>
            <button debounceClick (debounceClick)="searchUser()" nz-button nzType="primary" class="mr-8">
                {{'搜索'}}
            </button>
          <button debounceClick (debounceClick)="searchMine()" nz-button nzType="dashed" class="mr-8">
                {{'我发布的'}}
            </button>
            <button nz-button nzType="danger" (click)="clearField()">{{'清除'}}</button>
        </nz-form-control>
    </nz-form-item>
</form>


<div class="toolbar">
    <div class="title"><i nz-icon nzType="message" nzTheme="outline"></i>{{'论坛信息' | translate}}</div>
    <div class="toolbar-btns">
        <button nz-button nzType="primary" (click)="addUser()"><i nz-icon nzType="plus" nzTheme="outline"></i>{{'发布消息'}}</button>
    </div>
</div>

<div class="card-container" *ngFor="let data of siteList">
    <nz-card [nzTitle]="'发布者: ' + data.title" [nzExtra]="data.end_time" nzHoverable style="margin: 15px 0; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
        <p>{{data.desc}}</p>
        <div class="card-footer">
            <a (click)="toEdit(data)">{{'查看💻'}}</a>&nbsp;&nbsp;
            <a *ngIf="data.title==this.storageService.getItem('username')" (click)="toDelete(data)">{{'删除❌'}}</a>
        </div>
    </nz-card>
</div>

