<form nz-form [formGroup]="userForm">
    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">{{'姓名' }}</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="请输入学生姓名">
                    <input formControlName="title" nz-input minlength="3" maxlength="20" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">{{'内容' }}</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="请输入您的精彩见解">
                    <textarea formControlName="desc" nz-input rows="4" minlength="3" maxlength="200">
                    </textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>

<div class="footer">
    <button nz-button nzType="primary" (click)="submitUser()">{{'提交' }}</button>
</div>
